In [2]:
#LAB_WORK
import pandas as pd
df = pd.read_csv('DataSet_csv.csv')
print(df)

      Unnamed: 0  Guns_Count  Terriory_Count
0  Rehman Dacait          10               5
1         Akshit           5              10
2          Hamza           7               3
3         Aditya          10              10

In [3]:
import pandas as pd
df1 = pd.read_json('DataSet_json.json')
print(df1)

         Ahmad  Ali  Rashed  Hamza
apples       3    2       0      1
oranges      0    3       7      2